// color
$color-purple: #b61984;
$color-bg: #dcd1f3;



//font-size
$fs-1: 0.75rem;
$fs-2: 0.8125rem;
$fs-3: 1.1rem;
$fs-4: 3.8rem;



//padding
$pd-0: 0.25rem;
$pd-1: 0.5rem;
$pd-2: 0.8125rem;
$pd-3: 1.75rem;
$pd-4: 2.75rem;
$pd-5: 3.75rem;
$pd-6: 6.25rem;
$pd-7: 9.375rem;
$pd-8: 14rem;
$pd-9: 2rem;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 700;
$fw-4: 900;

//Margin
$mg-1: 0.7rem;
$mg-2: 8rem;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: 12rem;




  